[project]
	description = This is my practice work-space for Learning
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rduggalz
[access "refs/for/refs/*"]
	read = group user/rduggalz
	push = group user/rduggalz
	label-Code-Review = -2..+2 group user/rduggalz
	label-Verified = -1..+1 group user/rduggalz
	rebase = group user/rduggalz
	removeReviewer = group user/rduggalz
	submit = group user/rduggalz
[access "refs/heads/*"]
	read = group user/rduggalz
	create = group user/rduggalz
	push = +force group user/rduggalz
	pushMerge = group user/rduggalz
[access "refs/tags/*"]
	push = group user/rduggalz
	push = +force group user/rduggalz
